@charset "UTF-8";
body{
    background-image: url(../img/fondoCiudad.png);
    font-family: 'fuentePrincipal';
    cursor: url("../Cursor/cursor.png"), auto;
}

:root{
    --color-principal: white;
    --fuente-titulos: 'fuenteTitulo';

    --tamaño-fuente-texto: 13px;
}

h1{
    font-family: var(--fuente-titulos);
    color: var(--color-principal);
    text-align: center;
    font-size: 90px;  
    animation-name: led-title;
    animation-duration: 1.5s; 
    animation-iteration-count: infinite; 
    animation-direction: alternate;
}

@keyframes led-title {
    from{
        text-shadow: 0px 0px 30px rgb(164, 196, 255);
    } to{
        text-shadow: 0px 0px 30px rgba(124, 170, 255, 0.315);
    }
}

#tituloH1{
    animation: entrada-h1 1.5s ease forwards;
}

@keyframes entrada-h1 {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    10% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#imagen-eva{
    animation: entrada-eva 2.5s ease forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    
}

img{
    width: 500px;
    animation-name: eva-moves;
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-direction: alternate;
    will-change: transform;
}

@keyframes eva-moves {
    from{
        transform: translateY(-8px);
    } to{
        transform: translateY(8px);
    }
}

@keyframes entrada-eva {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    35% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

p{
    color: var(--color-principal);
    font-size: var(--tamaño-fuente-texto);
    background-color: rgba(0, 35, 151, 0.6);
    padding: 25px;
    width: fit-content;
    position: absolute;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.65);
    animation: entrada-reglas 2.5s ease forwards;
}

@keyframes entrada-reglas {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    60% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#r1{
    position: fixed;
    max-width: 600px;
    top: 430px;
    left: 210px;
}

#r2{
    position: fixed;
    max-width: 600px;
    top: 250px;
    right: 210px;
}

#r3{
    position: fixed;
    max-width: 600px;
    top: 710px;
    left: 120px;
}

#r4{
    position: fixed;
    max-width: 600px;
    top: 570px;
    right: 160px;
}

#boton-volver{
    animation: entrada-volver 2.5s ease forwards;
}

#icono-volver{
    max-width: 77%;
    color: white;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-right: 90px;
    transform: scale(1.5);
    cursor: url("../Cursor/cursor.png"), auto;
}

@keyframes entrada-volver {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    80% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@font-face {
  font-family: 'fuenteTitulo';
  src: url('../fuentes/Cyber\ Brush.ttf') format('truetype');
}

@font-face {
  font-family: 'fuentePrincipal';
  src: url('../fuentes/MinecraftStandard.otf') format('opentype');
}