@charset "UTF-8";
:root{
    --color-principal: white;
    --botones-bg: hwb(231 0% 26% / 0.8);
    --botones-bg-hover: hwb(204 0% 26% / 0.8);

    --fuente-titulos: 'fuenteTitulo';

    --tamaño-fuente-botones: 20px;
}

@font-face {
  font-family: 'fuenteTitulo';
  src: url('../fuentes/Cyber Brush.ttf') format('truetype');
}

@font-face {
  font-family: 'fuentePrincipal';
  src: url('../fuentes/MinecraftStandard.otf') format('opentype');
}

body {
    background-image: url('../img/fondoCiudad.png');
    font-family: 'fuentePrincipal';
    cursor: url('../Cursor/cursor.png'), auto;
}

h1{
    font-family: var(--fuente-titulos);
    color: var(--color-principal);
    text-align: center;
    font-size: 150px;
    margin-top: 5vh;
    animation-name: led-title;
    /* Duración de cada ciclo de la animación (más largo para que sea lento) */
    animation-duration: 1.5s; 
    /* Hace que se repita indefinidamente */
    animation-iteration-count: infinite; 
    /* Hace que la animación vaya hacia adelante y luego hacia atrás (de from a to y de to a from) */
    animation-direction: alternate;
}

@keyframes led-title {
    from{
        text-shadow: 0px 0px 30px rgb(164, 196, 255);
    } to{
        text-shadow: 0px 0px 30px rgba(124, 170, 255, 0.315);
    }
    
}

#botones-portada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 2vh;
}

.btn{
    position: relative;
    background-color: var(--botones-bg);
    border: solid 1px white;
    border-radius: 15px;
    width: 300px;
    height: 60px;
    font-family: 'fuentePrincipal';
    font-size: var(--tamaño-fuente-botones);
    cursor: url("../Cursor/cursor.png"), auto;
    transition: 0.2s;
    overflow: hidden;
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(0,255,255,0.7), transparent);

    pointer-events: none;

    animation: move-light 2s linear infinite;
}

@keyframes move-light {
    from { left: -100%; }
    to { left: 100%; }
}

.btn:hover {
    color: #0ff;
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
    transform: scale(1.1);
}

a.btn {
    color: var(--color-principal);
    text-decoration: none;
}